.root {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  @apply h-[4em] items-center sticky px-8 top-0 mb-[2rem] z-50 hidden md:flex md:justify-between;
}

[class="light"] .root {
  --boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.siteName {
  @apply text-3xl text-gray-900 font-fira;
}
