.root {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  @apply flex flex-col flex-1 rounded-lg;
}

[class="light"] .root {
  --boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.title {
  @apply px-4 py-2 text-lg bg-white rounded-t-lg;
}
