.root {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  @apply w-full lg:w-[90%] mb-4 min-h-[10em] sm:rounded-md md:rounded-lg;
}

[class="light"] .root {
  --boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.topInfo {
  @apply px-2 pt-4 pb-2 bg-white sm:rounded-t-md md:rounded-t-lg;
}

.postText {
  @apply text-base;
}

.postText::first-letter {
  @apply capitalize;
}

.bottomInfo {
  @apply flex px-2 py-4 bg-white sm:rounded-t-md md:rounded-b-lg;
}

.tagPill {
  @apply px-3 py-1 mx-1 text-xs font-medium text-gray-800 bg-blue-300 shadow-md rounded-xl;
}
